#root {
  max-width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* App.css */
.form-control::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.form-control:focus {
  background-color: transparent;
  border-color: white;
  box-shadow: none;
  color: white;
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label {
  color: rgba(255, 255, 255, 0.6);
}

.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown) {
  border-bottom: 1px solid white;
}

.btn-link {
  text-decoration: none;
}

.btn-link:hover {
  text-decoration: none;
}

@media (min-width: 1536px) {
  .\32xl\:text-\[1\.375rem\] {
      font-size: 1.375rem;
  }
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.leading-tight {
  line-height: 1.25;
}

.font-light {
  font-weight: 300;
}

@media (min-width: 1536px) {
  h2 {
      font-size: 3rem;
      line-height: 1.375;
  }
}

.bg-footer {
  background-image: url('https://supreme-group.vercel.app/static/media/footer.dbe7db48d54962232591.jpg');
}

.bg-right-bottom {
  background-position: 100% 100%;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}
section.video-section::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #333333bd;
  position: absolute;
  top: 0;
}
.super-group-title-banner {
  font-weight: 500;
  font-size: 50px;
  z-index: 1050;
}
.super-group-title-banner span{
  color:rgb(0, 191, 255);
}
.super-group-same-lines-title {
  font-weight: 400;
}
.small.super-group-uppr-title {
  font-size: 24px;
}
.super-group-btn-top {
  background: #00bfff;
  border-radius: 40px;
  margin-right: 30px;
  color: #fff;
}
.col-lg-6.super-group-inputs-file input {
  border: 1px solid #333333;
  color: #333333;
}

.col-lg-6.super-group-inputs-file input:placeholder{
 color:#333333;
}
.col-lg-6.super-group-inputs-file textarea {
  border: 1px solid #333333;
  color: #333333;
}

.col-lg-6.super-group-inputs-file textarea:placeholder{
 color:#333333;
}

/* Responsive css */

@media only screen and (max-width: 768px) {
 
  .super-group-title-banner {
    font-size: 14px;
}
.small.super-group-uppr-title {
  font-size: 19px;
}
.super-group-btn-top {
  margin-right: 10px;
  font-size: 14px;
}
.header-right-section {
  display: flex;
}
.super-group-header-section img {
  width: 100px;
}
.header-right-section {
  gap: 10px !important;
  align-items: center;
  justify-content: center;
}
.language-btn-header {
  padding: 0;
}
.language-btn-header svg {
  margin-right: 10px;
}
.tabs-itme-main button {
  padding: 0;
}
.passenger-vehiclew-section-main {
  height: auto !important;
}


}



